.navbar{
    width: 200px;
    text-align: right;
    color: #ababab;
}
.navbar ul {
    list-style-type: none;
    margin: 0 10px;

}
.navbar ul li {
    padding: 10px 10px;
}
.navbar ul li a{
    color: #ababab;
    font-weight: 500;
}
.logout{
    cursor: pointer;
}
.logout :hover{
    text-decoration: underline;
    color:white;
}