<div class="nav">
    <app-nav></app-nav>
 </div>
<div class = "container" *ngIf = 'checkRoute()'>
     <div class= 'sidebar-list'>
         <ul>
             <li routerLinkActive = 'active'>
                 <span> 
                 <a [routerLink]="['user/list']" >User</a>
                </span>
             </li>
             <li  routerLinkActive = 'active'>
                 <span>
                <a [routerLink]="['dashboard']" routerLinkActive="router-link-active" >Dashboard</a>
                 </span>
            </li>
         </ul>
     </div>
     
</div>



